.page-id-77{
  .animation-block__table-list{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .animation-block__table-item{
      @media all and (max-width: 1024px){
        width: 100%;
      }
      &:nth-last-child(2), &:nth-last-of-type(-n+2){
        width: calc(50% - 10px);
        margin-bottom: 12px;
        @media all and (max-width: 1024px){
          width: 100%;
        }
      }
    }
  }
}
.animation-block{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @media all and (max-width: 1024px){
    position: static;
  }
  @media all and (max-width: 500px){
    top: 60px;
    height: auto;
    padding-bottom: 40px;
    //position: static;
  }
  &__animate{
    margin-left: -100vw * $px;
    transition: all 1s ease;
    pointer-events: none;
    @media all and (max-width: 1024px){
      z-index: 1;
    }
    img{
      transition: all 1s ease;
    }
    .part-1{
      width: 277vw * $px;
      @media all and (max-width: 768px){
        width: 1.6 * 277vw * $px;
      }
    }
    .part-2{
      width: 166vw * $px;
      @media all and (max-width: 768px){
        width: 1.6 * 166vw * $px;
      }
    }
    .part-3{
      width: 271vw * $px;
      @media all and (max-width: 768px){
        width: 1.6 * 271vw * $px;
      }
    }
    .part-4{
      width: 140vw * $px;
      @media all and (max-width: 768px){
        width: 1.6 * 140vw * $px;
      }
    }
    //&:hover{
    //  margin-left: -100vw * $px!important;
    //  .part-1{
    //    transform: translate(0, 0) !important;
    //  }
    //  .part-2{
    //    transform: translate(0, 0)!important;
    //  }
    //  .part-3{
    //    transform: translate(0, 0)!important;
    //  }
    //  .part-4{
    //    transform: translate(0, 0)!important;
    //  }
    //}
    &.execute{
      margin-left: 0;
      .part-1{

      }
      .part-2{
        transform: translate(-196vw * $px, -62vw * $px);
      }
      .part-3{
        transform: translate(-392vw * $px,-125vw * $px);
      }
      .part-4{
        transform: translate(-520vw * $px,-159vw * $px);
      }
    }
  }
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: bottom center;
    }
  }
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @media all and (max-width: 1024px){
      flex-direction: column;
    }
    @media all and (max-width: 500px){
      height: auto;
    }
  }
  &__table{
    z-index: 1;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    //pointer-events: none;
    @media all and (max-width: 1024px){
      position: static;
      min-height: auto;
      padding: 0;
      margin: 90px 0;
    }
    @media all and (max-width: 500px){
      margin: 50px 0 0 0;
    }
    &-list{

    }
    &-title{
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 98.3%;
      color: #FF6A13;
      margin-bottom: 1.5rem;
    }
    &-desc{
      p{
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 149.5%;
        color: #FFFFFF;
      }
    }
    &-item{
      background: rgba(255, 255, 255, 0.16);
      box-shadow: 0px 2px 45px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.5px);
      border-radius: 1.5rem;
      padding: 3rem 4rem;
      margin-bottom: 12px;
      width: 100%;
      &:last-child{
        margin-bottom: 0;
      }
      p{
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}