.faq{
  padding-top: 9.4rem;
  padding-bottom: 7rem;
  &__container{

  }
  &__title{

  }
  &__subtitle{
    max-width: 1000px;
    margin: 0 auto 6.6rem auto;
  }
  &__list{

  }
  &__item{
    position: relative;
    background: #FFFFFF;
    border: 1px solid #C2D6E5;
    border-radius: 10px;
    padding: 2.6rem 6.2rem 2.6rem 5.5rem;
    margin-bottom: 2.3rem;
    //cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
    svg{
      position: absolute;
      top: 16px;
      left: -21px;
      width: 42px;
      height: 42px;
    }
    &-desc{
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 130%;
      color: #003057;
    }
    &-title{
      font-weight: 600;
      font-size: 2rem;
      line-height: 130%;
      color: #FF6A13;
      margin-bottom: 0.7rem;
    }
  }
}