.publication{
  padding-top: 10.9rem;
  padding-bottom: 9.7rem;
  &__list{
    margin-top: 3.6rem;
    position: relative;
    &:after{
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30%;
      background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 83.55%);
      pointer-events: none;
    }
  }
  &__item{
    background: #FFFFFF;
    border: 1px solid #C2D6E5;
    border-radius: 10px;
    padding: 2.6rem 3.3rem;
    margin-bottom: 3rem;
    &:last-child{
      margin-bottom: 0;
    }
    a{
      color: #FF6A13;
    }
    &-title{
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 130%;
      color: #FF6A13;
      margin-bottom: 1rem;
    }
    p{
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 130%;
      color: #003057;
      margin-bottom: 1rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}