.two-column-img{
  background-color: rgba(194,214,229,0.2);
  padding-top: 16.3rem;
  padding-bottom: 10.7rem;
  &__container{

  }
  &__img{
    text-align: center;
    margin-bottom: 10.4rem;
  }

}