@import "normalize";
@import "aos";
@import "default";
$transition: 0.2s;
$px: 0.052083333333333;
$pxm: 0.3125;

// GENERAL DOCUMENT STYLES
* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
html{
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.02em;
  @media all and (max-width: 1600px){
    font-size: 9px;
  }
  @media all and (max-width: 1400px){
    font-size: 8px;
  }
  @media all and (max-width: 1200px){

  }
  @media all and (max-width: 1024px){

  }
  @media all and (max-width: 768px){

  }
  @media all and (max-width: 500px){

  }
}
body{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.locked{
  overflow: hidden;
}
img{
  max-width: 100%;
}
main{
  flex: 1;
  overflow: hidden;
  width: 100%;
}
.padding-right{
  padding-right: 310px;
  @media all and (max-width: 1600px){
    padding-right: 200px;
  }
  @media all and (max-width: 1400px){
    padding-right: 125px;
  }
  @media all and (max-width: 1200px){
    padding-right: 100px;
  }
  @media all and (max-width: 1024px){
    padding-right: 75px;
  }
  @media all and (max-width: 768px){
    padding-right: 50px;
  }
  @media all and (max-width: 500px){
    padding-right: 20px;
  }
}
.padding-left{
  padding-left: 310px;
  @media all and (max-width: 1600px){
    padding-left: 200px;
  }
  @media all and (max-width: 1400px){
    padding-left: 125px;
  }
  @media all and (max-width: 1200px){
    padding-left: 100px;
  }
  @media all and (max-width: 1024px){
    padding-left: 75px;
  }
  @media all and (max-width: 768px){
    padding-left: 50px;
  }
  @media all and (max-width: 500px){
    padding-left: 20px;
  }
}
.main-container{
  max-width: 1920px;
  margin: auto;
  width: 100%;
  @extend .padding-left;
  @extend .padding-right;
}
.big-container{
  max-width: 1920px;
  margin: auto;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  @media all and (max-width: 500px){
    padding-left: 20px;
    padding-right: 20px;
  }

}
.full-container{
  width: 100%;
  max-width: 1920px;
  margin: auto;
}
.section-title{
  font-weight: 800;
  font-size: 4rem;
  line-height: 115%;
  text-transform: uppercase;
  color: #003057;
  margin-bottom: 2.5rem;
  text-align: center;
  @media all and (max-width: 500px){
    font-size: 30px;
    margin-bottom: 41px;
  }
  @media all and (max-width: 400px){
    font-size: 24px;
  }
}
.section-subtitle{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #1B1B1B;
  text-align: center;
}
.banner-title{
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 115%;
  text-transform: uppercase;
  color: #FFFFFF;
  span{
    color: #00B2A9;
  }
}
.button{
  border-radius: 5.1rem;
  min-width: 28.4rem;
  padding: 2.2rem 2.1rem 1.8rem 2.1rem;
  text-decoration: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  span{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &-green {
    background: #00B2A9;
    box-shadow: 0px 13px 30px -13px rgba(0, 178, 169, 0.3);
  }
  &-orange{
    background: #FF6A13;
    box-shadow: 0px 13px 30px -13px rgba(255, 106, 19, 0.18);
  }
}


@import "templates/preloader";

@import "templates/header";

@import "templates/main";

@import "templates/banner-main";
@import "templates/reasons-main";
@import "templates/request";

@import "templates/footer";